.plans{
    display: flex;
    flex-direction: column;
    margin-top:-70px;
    padding: 0px 50px;
    gap: 70px;
    position: relative;
}
.plansHeder{
    display: flex;
    gap: 50px;
    font-weight: bold;
    font-size: 60px;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-style: italic;
}
.plansCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.plan{
    display: flex;
    flex-direction: column;
    background: #656565;
    color: white;
    gap: 30px;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
}
.plan:nth-child(2){
    transform: scale(1.2);
    background: linear-gradient(210.41deg, #fe0000 1.14%, #fa5042 100.75%);
}
.plan>svg{

    fill: white;
    width: 40px;
    height: 40px;
}
.plan>:nth-child(2){
    font-size: 20px;
    font-weight: bold;
}
.plan>:nth-child(3){
    font-size: 50px;
    font-weight: bold;
}
.plan>:nth-child(5){
    font-size: 15px;
}
.features{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.feature{
    display: flex;
    align-items: center;
    gap: 20px;
}
.feature>span{
    font-size: 20px;
}
.benifites>button{
    margin-top: 20px;
}
.benifites>button:hover{
    cursor: pointer;
    background-color: gray;
    color: white;
}
.plansBlur1{
    width:520px;
    height: 480px;
    left: 0px;
    top: 150px;
}
.plansBlur2{
    width:520px;
    height: 480px;
    right: 0px;
    top: 150px;
}
@media screen and (max-width: 768px){
    .plansHeder{
        flex-direction: column;
        gap: 10px;
        font-size: x-large;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .plansCards{
        flex-direction: column;
    }
    .plan:nth-child(2){
        transform: none;
    }
}